<h1>New Event</h1>
<%= form_for @changeset, admin_event_path(@conn, :create), fn f -> %>
  <%= render MelodicaInventory.Web.Admin.EventView, "_event_form.html", changeset: @changeset, users: @users, f: f %>
  <%= submit "Create", class: "btn btn-primary" %>
  <a href="<%= admin_event_path(@conn, :index) %>" class="btn btn-secondary">Back</a>
<% end %>
