<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello MelodicaInventory!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <%= if assigns[:current_user] do %>
          <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
        <% end %>
      </ul>
    </nav>

    <div class="container-floud">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
