<h1><%= @changeset.data.name %></h1>
<%= form_for @changeset, admin_category_path(@conn, :update, @changeset.data.id), fn f -> %>
  <div class="form-group">
    <%= label f, :name %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>
  <%= submit "Submit", class: "btn btn-primary" %>
  <a href="/" class="btn btn-secondary">Back</a>
<% end %>
