<h1>New category</h1>
<%= form_for @changeset, admin_category_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <label for="name">Name</label>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>
  <%= submit "Submit", class: "btn btn-primary" %>
  <a href="/" class="btn btn-secondary">Back</a>
<% end %>
