@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-year-calendar/css/bootstrap-year-calendar";
@import "./node_modules/font-awesome/css/font-awesome";

$enable-flex: true;

$google-red-color: #db3236;

.login-google {
  background-color: $google-red-color;
  padding: 15px;
  color: white;
}

.login-buttons {
  margin-top: 50px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.card-title {
  font-size: 14px;
}

h2 {
  font-size: 23px;
}

@include media-breakpoint-up(sm) {
  h2 {
    font-size: 30px;
  }
}

@include media-breakpoint-up(md) {
  .card-title {
    font-size: 18px;
  }
}

.category {
  height: 150px;
}

.item {
  height: 300px;
  .card-block {
    padding: 5px;
  }

  img {
    max-width: 150px;
    max-height: 90px;
  }

  a {
    font-size: 13px;
  }
}

@include media-breakpoint-up(lg) {
  .item {
    height: 250px;

    a {
      font-size: 16px;
    }
  }
}

.loans_list {
  margin-top: 15px;
  form {
    display: inline-block;
  }
}

table form.link {
  display: inline-block;
}

.current_event select {
  margin-left: 10px;
  max-width: 350px;
}

#search input {
  width: 200px;
}

form.link {
  display: inline;
}

// This is a hack to fix the deprication of col-xs class in Bootstrap alpha 6
// -- 04.08.2017 Lyudmil Lesinski

.col-xs-1 {
  @extend .col-1;
}
.col-xs-2 {
  @extend .col-2;
}
.col-xs-3 {
  @extend .col-3;
}
.col-xs-4 {
  @extend .col-4;
}
.col-xs-5 {
  @extend .col-5;
}
.col-xs-6 {
  @extend .col-6;
}
.col-xs-7 {
  @extend .col-7;
}
.col-xs-8 {
  @extend .col-8;
}
.col-xs-9 {
  @extend .col-9;
}
.col-xs-10 {
  @extend .col-10;
}
.col-xs-11 {
  @extend .col-11;
}
.col-xs-12 {
  @extend .col-12;
}

// This is a hack for the bootstrap-datepicker package to work properly with Bootstrap alpha 6
// -- 04.08.2017 Lyudmil Lesinski

[class^="month-container col-xs-"] {
  display: inline-block;
}
