@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-year-calendar/css/bootstrap-year-calendar";
@import "./node_modules/font-awesome/css/font-awesome";

$enable-flex: true;

$google-red-color: #db3236;

.login-google {
  background-color: $google-red-color;
  padding: 15px;
  color: white;
}

.login-buttons {
  margin-top: 50px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.card-title {
  font-size: 14px;
}

h2 {
  font-size: 23px;
}

@include media-breakpoint-up(sm) {
  h2 {
    font-size: 30px;
  }
}

@include media-breakpoint-up(md) {
  .card-title {
    font-size: 18px;
  }
}

.category {
  height: 150px;
}

.item {
  height: 300px;
  .card-block {
    padding: 5px;
  }

  img {
    max-width: 150px;
    max-height: 90px;
  }

  a {
    font-size: 13px;
  }
}

@include media-breakpoint-up(lg) {
  .item {
    height: 250px;

    a {
      font-size: 16px;
    }
  }
}

.loans_list {
  margin-top: 15px;
  form {
    display: inline-block;
  }
}

table form.link {
  display: inline-block;
}

.current_event select {
  margin-left: 10px;
  max-width: 350px;
}

form.link {
  display: inline;
}

/* Start carousel */

#carousel-controls {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

#carousel-controls .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#carousel-controls .carousel-control-prev {
  left: -50px;
}

#carousel-controls .carousel-control-next {
  right: -50px;
}

#carousel-controls .carousel-indicators {
  top: auto;
  bottom: 0px;
}

#carousel-controls .carousel-indicators li {
  background: #c0c0c0;
}
#carousel-controls .carousel-indicators .active {
  background: #333333;
}

#carousel-controls img {
  width: 400px;
  height: 300px;
}
/* End carousel */
