/* This file is for your main application css. */
@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/font-awesome/scss/font-awesome';

@fa-font-path: './node_modules/font-awesome/scss/font-awesome/font';

$google-red-color: #db3236;

.login-google {
  background-color: $google-red-color;
}
