/* This file is for your main application css. */
@import './bootstrap/scss/bootstrap';
@import './font-awesome/scss/font-awesome';

$enable-flex: true;

$google-red-color: #db3236;

.login-google {
  background-color: $google-red-color;
  padding: 15px;
  color: white;
}

.login-buttons {
  margin-top: 50px;
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.card-title {
  font-size: 14px;
}

@include media-breakpoint-up(md) {
  .card-title {
    font-size: 18px;
  }
}

.category {
  height: 150px;
}

.item {
  height: 250px;

  img {
    max-width: 150px;
    max-height: 100px;
  }
}
