<ul>
  <%= for category <- @categories do %>
    <li>
      <a href="<%= category_path(@conn, :show, category.id) %>">
        <h4 class="card-title"><%= category.name %></h4>
      </a>
    </li>
    <% end %>
</ul>
