<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello MelodicaInventory!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <%= if @current_user do %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="/">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="/loans">My loans</a></li>
            <%= if @current_user.admin do %>
              <li class="nav-item"><%= link "All loans", to: admin_loan_path(@conn, :index), class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link "Events", to: event_path(@conn, :index), class: "nav-link" %></li>
            <%= form_tag current_event_path(@conn, :create), class: "form-inline current_event" %>
              <select class="form-control-sm mr-sm-2" id="currentEvent" name="current_event_id">
                <option value="">Select current event</option>
                <%= for event <- @events do %>
                  <option value="<%= event.id %>" <%= selected_event_attr(@current_event, event) %>>
                    <%= event_name(event) %>
                  </option>
                <% end %>
              </select>
            </form>
            <form class="form-inline">
              <input type="text" name="q" class="form-control-sm mr-sm-2" id="search" placeholder="Search">
            </form>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout <%= @current_user.email %></a></li>
          </ul>
        </div>
      <% end %>
    </nav>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <div class="alert alert-danger" role="alert">
        <%= get_flash(@conn, :error) %>
      </div>
    <% end %>
    <div class="container-fluid">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
